{% extends 'rosters/base.html' %}
{% load humanize %}

{% block title %}2016-17 Draft{% endblock %}

{% block body %}
<div class="row-fluid">
    <h1 style="margin-bottom:15px;">2016-17 Draft</h1>
</div>

<div class="row">
    <table class="table span9">
        <thead>
        <tr>
            <th>Round</th>
            <th>Pick</th>
            <th>Player</th>
            <th>NBA team</th>
            <th class="right">Total salary</th>
            <th>Manager</th>
            <th>Note</th>
        </tr>
        </thead>
        {% for obj in draftpick_list %}
            <tr>
              {% if obj.draft_round == 0 %}
              <td></td>
              <td></td>
              {% else %}
              <td>{{ obj.draft_round }}</td>
              <td>{{ obj.draft_pick }}</td>
              {% endif %}
              {% if obj.player != None %}
              <td>{{ obj.player }}</td>
              <td>{{ obj.player.nba_team }}</td>
              <td class="right">${{ obj.player.salary|intcomma }}</td>
              {% else %}
              <td></td>
              <td></td>
              <td></td>
              {% endif %}
              <td><a href="{{ obj.squad.get_absolute_url }}">{{ obj.squad.get_manager_display }}</a></td>
              <td>{{ obj.note }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
