{% extends 'rosters/base.html' %}
{% load humanize %}

{% block title %}{{ squad.get_manager_display }}{% endblock %}

{% block body %}
<div class="row-fluid">
    <h1 style="margin-bottom:15px;">Team detail: {{ squad.get_manager_display }}</h1>
</div>
<div class="row">
	<table class="table span9">
	    <thead>
	    <tr>
	        <th>Player</th>
	        <th>NBA Team</th>
	        <th class="right">Salary</th>
	    </tr>
	    </thead>
    	{% for obj in squad.player_set.all %}
    	<tr>
    		<td>{{ obj.full_name }}</td>
    		<td>{{ obj.nba_team }}</td>
    		<td class="right">${{ obj.salary|intcomma }}</td>
		</tr>
	    {% endfor %}
	    <tr>
	    	<td></td>
	    	<td class="right"><b>Total cap hit</b>
	    	<td class="right"><b>${{ squad.total_cap_hit|intcomma }}</b>
	    </tr>
	    <tr>
	    	<td></td>
	    	<td class="right"><b>Cap room</b>
	    	<td class="right"><b>${{ squad.cap_room|intcomma }}</b></td>
	    </tr>
	</table>
</div>
{% endblock %}
