{% extends 'base.html' %}
{% load humanize %}

{% block body %}
<div class="row-fluid">
    <h1 style="margin-bottom:15px;">League audit</h1>
</div>
<div class="row">
    <table class="table span9">
        <thead>
        <tr>
            <th>Manager</th>
            <th class="right">Total salary</th>
            <th class="right">Room below cap</th>
        </tr>
        </thead>
        {% for obj in squad_list %}
        <tr>
            <td><a href="../detail/{{ obj.id }}">{{ obj.get_manager_display }}</a></td>
            <td class="right">${{ obj.total_cap_hit|intcomma }}</td>
            <td class="right" {% if obj.cap_room < 0 %}style="background-color: #ff9999"{% endif %}>${{ obj.cap_room|intcomma }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

